<form id="contract_form">
    <div class="center">
        <h2>Use liminal.market in your app</h2>
        <h3>Increase your product selection and revenue</h3>
    </div>
    <p>
        If you want to receive service fee for each transaction
        you need to set up a smart contract that you fill out below.<br />
        If you don't want to receive service fee, you can <a href="" id="start_coding">start coding.</a>
        <br />
        You can <a href="https://calendly.com/ingig/30min" target="_blank">set up a meeting with us</a> and we can guide you through the onboarding<br />
        You can find our documentation at <a href="https://docs.liminal.market">docs.liminal.market</a>
    </p>
    <ins>All fields are required.</ins>

    <h2>Choose how you want to set up your service</h2>

    <fieldset class="service_fee_type">
        <legend>Your service fee - <small><em>Liminal.market takes 0.2% service fee</em></small></legend>
        <label for="service_fee_1">
            <input type="radio" id="service_fee_1" name="service_fee_type" class="service_fee" value="1" checked>
            I get service fee for each transaction
        </label><br />
        <label for="service_fee_2">
            <input type="radio" id="service_fee_2" name="service_fee_type" class="service_fee" value="2">
            I get service fee for each transaction using custom smart contract
        </label><br />
        <!--
        <label for="update_service">
            <input type="radio" id="update_service" name="service_fee_type" class="update_service" value="4">
            Update contract
        </label><br />
        -->
        <label for="no_service_fee">
            <input type="radio" id="no_service_fee" name="service_fee_type" class="service_fee" value="3">
            I don't want to take any service fee
        </label>
    </fieldset>

    <div class="hidden" id="update_contract">
        <label>Select smart contract to change</label>
        <select id="selectedServiceContract">

        </select>
    </div>
    <div class="hidden">
        <label>Smart contract address (<a href="" target="_blank">How to set up smart contract</a>)</label>
        <input value="" name="smart_contract_address"
               id="smart_contract_address"/>
    </div>
    <div>
        <label>Service fee address (To what address should fee be paid to?)</label>
        <input value="" name="service_fee_address"
               id="service_fee_address"/>
    </div>
    <div>
        <label>Service fee points. 100 = 0.1% fee. That is $1 service fee for every $1000 trade</label>
        <input value="100" name="service_fee" id="service_fee" type="tel"/>
        <small>Liminal.market takes 200 points (0.2%) fee on all trades. Your fee will be added on top.
            If you choose 100 points (0.1%), it means user will pay total of 0.3% in service fee</small>
    </div>
    <div>
        <label>Name of service (public, written to blockchain)</label>
        <input value="" placeholder="Liminal.market" name="name" id="name"/>
    </div>
    <div style="position: relative">
        <label>Url of service (public, written to blockchain)</label>
        <span style="position: absolute;top: 2.6rem;
    left: 0.8rem;color:gray">https://</span>
        <input style="padding-left:4rem" value="" placeholder="liminal.market" name="url" id="url"/>
    </div>
    <div>
        <label>Email (not public)</label>
        <input value="" placeholder="info@example.com" name="email" id="email"/>
    </div>
    <div>
        <label><input checked type="checkbox" name="terms" id="terms" value="1"/> I agree to terms of
            service</label>
    </div>
    <div class="error hidden" id="error"></div>
    <div>
        <div class="grid">
            <button id="sign">Sign contract</button>
        </div>
    </div>
</form>

<div id="wait_for_transaction" class="hidden">
    <h3 aria-busy="true">Please wait for transaction to complete…</h3>
    <p>When transaction is complete, we will display <strong>Get started guide</strong></p>
</div>
<div id="get_started" class="hidden">
    <ins><a id="back_to_contract">< Back</a></ins>
    <h2>Getting started</h2>
    <div id="serviceContractAddressInfo" class="hidden info">
        <h3>New contract created</h3>
        <p>This is the address of you contract. This is required for you to receive service fee. Make sure to write it down</p>
        <small>myContractAddress (see usage in code below)</small><br>
        <input id="serviceAddress" />
    </div>
    <p>Following is an example in Javascript using our library</p>
    <pre>
        <code class="language-javascript">
    //install the npm package
    npm install liminal.market
        </code>
    </pre>

    You Javascript/Typescript file
    <pre>
        <code class="language-javascript" id="code_example">
        </code>
    </pre>

    <h3>Documentation</h3>
    <p>Read more about how to use our javascript library in <a href="https://liminalmarket.readme.io/reference/overview">our documentation</a></p>
</div>


